<!-- events-index -->
 <div class="row mt-4">
     <div class="col-lg-6 offset-lg-3">
       <h1>Current Donation Events</h1>
       <a href="/events/new">Create an event</a>
         <h1>Donate Today💰❤️</h1>
         {{#each events}}
          <div class="card mt-3">
            <img class="card-img-top" src="{{this.imgUrl}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <div class="text-right">
                  <a href="/events/{{this.id}}/rsvps/new" class="btn btn-info">Become A New Donator</a>
                  <a href="/events/{{this.id}}" class="btn btn-primary">Who Has Donated</a>
                </div>
              </div>
            </div>
          {{/each}}
     </div>
 </div>
